<!DOCTYPE html>
<html lang="en">
<head>
    <title>Plank Site | Markdown</title>
    <%- include('head') %>
</head>
<body class="container">

<%- include('header') %>

<main>
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid">
            <h1>This is great</h1>
            <p>Welcome to templating using EJS</p>
            <ul>
                <% for(let i = 0; i < articles.length; i++) { %>
                    <li><a href="/markdown/main/<%- articles[i] %>"><%- articles[i] %></a></li>
                <% } %>
            </ul>
        </div>
    </div>
    <%- markdown_content %>
</main>

<footer>
    <%- include('footer') %>
</footer>

</body>
<%- include('scripts') %>
</html>

